@model BookStoreWeb.Models.Domain.Users

@{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <!--begin::Card body-->
            <div class="card-body px-0">
                <form class="form" id="kt_form" method="post" asp-controller="ManageUser" asp-action="Create">
                    <div class="tab-content">
                        <!--begin::Tab-->
                        <div class="tab-pane show active px-7" id="kt_user_edit_tab_1" role="tabpanel">
                            <!--begin::Row-->
                            <div class="row">
                                <div class="col-xl-2"></div>
                                <div class="col-xl-7 my-2">
                                    <!--begin::Row-->
                                    <div class="row">
                                        <label class="col-3"></label>
                                        <div class="col-9">
                                            <h6 class="text-dark font-weight-bold mb-10">Customer Info:</h6>
                                        </div>
                                    </div>
                                    <!--end::Row-->
                                    <!--begin::Group-->
                                    <div class="form-group row">
                                        <label class="col-form-label col-3 text-lg-right text-left">First Name</label>
                                        <div class="col-9">
                                            <input class="form-control form-control-lg form-control-solid" type="text" asp-for="@Model.FirstName" />
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                    <!--begin::Group-->
                                    <div class="form-group row">
                                        <label class="col-form-label col-3 text-lg-right text-left">Last Name</label>
                                        <div class="col-9">
                                            <input class="form-control form-control-lg form-control-solid" type="text" asp-for="@Model.LastName" />
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                    <!--begin::Group-->
                                    <div class="form-group row">
                                        <label class="col-form-label col-3 text-lg-right text-left">Email Address</label>
                                        <div class="col-9">
                                            <div class="input-group input-group-lg input-group-solid">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="la la-at"></i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control form-control-lg form-control-solid" asp-for="@Model.Email" placeholder="Email" />
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                    <!--begin::Group-->
                                    <div class="form-group row">
                                        <label class="col-form-label col-3 text-lg-right text-left">Password</label>
                                        <div class="col-9">
                                            <input class="form-control form-control-lg form-control-solid" type="text" asp-for="@Model.Password" />
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                    <!--begin::Group-->
                                    <div class="form-group row">
                                        <label class="col-form-label col-3 text-lg-right text-left">Password</label>
                                        <div class="col-9">
                                            <input class="form-control form-control-lg form-control-solid" type="text" asp-for="@Model.ConfirmPassword" />
                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                            <label class="col-form-label col-3 text-lg-right text-left">Contact Phone</label>
                                            <div class="col-9">
                                                <div class="input-group input-group-lg input-group-solid">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="la la-phone"></i>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control form-control-lg form-control-solid" value="" placeholder="Phone" />
                                                </div>
                                            </div>
                                        </div>*@
                                    <!--end::Group-->

                                </div>
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Tab-->
                    </div>

                    @if (ViewBag.Error != null)
                    {
                        <div style="color: red; font-size: 20px;">@ViewBag.Error</div>
                    }

                    <!--begin::Toolbar-->
                    <div class="d-flex float-right mr-5">
                        <!--begin::Button-->
                        <a asp-action="Index" asp-controller="ManageUser" class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">Back</a>
                        <!--end::Button-->
                        <!--begin::Dropdown-->
                        <div class="btn-group ml-2">
                            <button type="submit" class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base">Create new</button>
                        </div>
                        <!--end::Dropdown-->
                    </div>
                    <!--end::Toolbar-->
                </form>
            </div>

            <!--begin::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->

@section Scripts{
    <script type="text/javascript">
    $('#menu-item-user').addClass('menu-item-active');
    </script>
}